<html>
    <head>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/app.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">


        <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/index.js') }}"></script>


        {% include 'navbar.html' %}

    </head>

    <body>
        <div class="container">
            <div class="row">

                <div id="all-categories-col" class="col-md-4">
                    <h2 class="page-header" id="category-header">All Categories</h2>
                    {% for category in categories%}
                        <h3>
                            <a class="category-link" id="{{ category['category_id'] }}" href="#">
                                {{ category['category_name'] }}
                            </a>
                        </h3>
                    {% endfor %}
                    <br>
                    <br>
                </div>

                <div id="items-col" class="col-md-8">
                    <h2 class="page-header" id="items-header">Recent Items</h2>
                    <div id="items-container">
                    {% for item in items%}
                        <h4><a href="#">{{ item['item_name'] }}</a></h4>
                        Category: {{ item['category_name'] }}
                        <br/>
                        <br/>
                    {% endfor %}
                    </div>
                </div>

            </div>



        </div><!-- container -->

    </body>
</html>