<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/app.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
        <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/manage.js') }}"></script>


        {% include 'navbar.html' %}
    </head>

    <body>
        <div class="container">


            <div class="row">
                <div id="my-items-col" class="col-md-12">
                    <h2 class="page-header">Manage my items</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <button id="add-item" class="btn btn-success">Add Item</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div style="display:none;" id="failure-alert" class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Failure: </strong><span id="failure-alert-message"></span>
                            </div>
                            <div style="display:none;" id="success-alert" class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Success: </strong><span id="success-alert-message"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="item-card-row">

                    {% if items %}
                        {% for item in items %}

                            <div class="item-card-container col-md-4">
                                <div itemid="{{ item['item_id'] }}" id="item-{{ item['item_id'] }}" class="item-card col-xs-12">
                                    <h3 class="page-header item-name">{{ item['item_name'] }}</h3>
                                    <h4>Category: <span categoryid="{{ item['category_id'] }}" class="item-cat">{{ item['category_name'] }}</span> </h4>
                                    <p class="item-desc">{{ item['description'] }}</p>
                                    <button class="btn btn-primary edit-item">Edit</button>
                                </div>
                            </div>

                        {% endfor %}
                    {% endif %}
                    

                    </div>
                </div>
            </div>



        </div><!-- container -->

        <!-- Add Item Modal-->
        <div class="modal fade" id="add-item-modal" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Item</h4>
                    </div>

                    <div class="modal-body form-group row">
                        <label for="item-category" class="col-xs-4">Name:</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="item-name" id="add-item-name">
                        </div>

                        <label for="item-category" class="col-xs-4">Category:</label>
                        <div class="col-xs-8">

                            <select id="add-item-category">
                                {% if categories %}
                                    {% for category in categories %}
                                    <option value="{{ category['category_id'] }}">{{ category["category_name"] }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>

                        </div>

                        <div class="col-xs-12 text-left">
                            <label for="comment">Description:</label>
                            <textarea class="form-control" rows="5" id="add-item-description"></textarea>
                        </div>

                    </div>

                    <div class="row">
                        <div id="add-error-message" class="col-md-12 red-text text-center">
                        </div>
                        <div class="col-md-12">
                            <br>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="row">

                            <div class="col-xs-12 text-right modal-label">
                                <button type="button" class="btn btn-success" id="confirm-add-item" data-dismiss="modal">Add Item</button>
                                <button type="button" class="btn btn-default" id="confirm-add-item" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Item Modal-->
        <div class="modal fade" id="edit-item-modal" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Item</h4>
                    </div>

                    <div class="modal-body form-group row">
                        <label for="item-category" class="col-xs-4">Name:</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="item-name" id="edit-item-name">
                        </div>
                        <label for="item-category" class="col-xs-4">Category:</label>
                        <div class="col-xs-8">
                            <select id="edit-item-category">
                                {% if categories %}
                                    {%for category in categories%}
                                    <option value="{{ category['category_id'] }}">{{ category["category_name"] }}</option>
                                    {%endfor%}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-xs-12 text-left">
                            <label for="comment">Description:</label>
                            <textarea class="form-control" rows="5" id="edit-item-description"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div id="edit-error-message" class="col-md-12 red-text text-center">
                        </div>
                        <div class="col-md-12">
                            <br>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="row">

                            <div class="col-xs-12 text-right modal-label">
                                <button type="button" class="btn btn-danger pull-left" id="confirm-delete-item" data-dismiss="modal">Delete Item</button>
                                <button type="button" class="btn btn-success" id="confirm-edit-item" data-dismiss="modal">Edit Item</button>
                                <button type="button" class="btn btn-default" id="confirm-edit-item" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>